*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: rgba(10,20,30,1);

}
h1{
    width: 450px;
    height: 100px;
    position: absolute;
    top:calc(50% - 50px);
    left:calc(50% - 225px);
    font-size: 100px;
    font-family: 'Dokdo', cursive;
    color:yellowgreen;
}

h2{
    width: 400px;
    height: 50px;
    font-family: 'Dokdo', cursive;
    color:red;
    position:absolute;
    top:calc(55%);
    left:calc(50% - 25px);
}

.github::after{
    content: '';
    display:block;
    width: 90%;
    height: 1px;
    background-color: darkred;

}